body {
}


h1 {
    display: block;
    position: relative;
    color: darkslateblue;

}

h2 > strong {
    margin-bottom: 5px;
    margin-top: 5px;
    color: midnightblue;
}

footer {

    display: block;
    position: center;
    justify-content: center;
}
hr {
    height: 4vh;
}


label {
    color: darkblue;
    align-content: center;

}

a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-variant-caps: petite-caps;
    position: center;
    justify-content: center;

}

input.field {
    width: 90%;
}

table,
td, tr {
    display: block;
    position: relative;
    border: 1px solid midnightblue;
    padding: 0.5rem;
    text-align: center;
    text-align-all: center;

}

thead {
    display: block;
    position: relative;;
    background-color: #333;
    color: #fff;
}



.form-control {
    display: block;
    position: relative;
    padding: 2vh 2vw;
    text-align: center;
    align-content: center;
}

.form-control .submit-button input {
    background: cornflowerblue;
    color: darkblue;
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.form-control .submit-button input:hover {
    background: cornflowerblue;
    color: darkseagreen;
    text-decoration: -moz-buttonhovertext;
    font-weight: bolder;

}
