<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/style/main.css"/>

    <title th:text="${title}"></title>
</head>
<body>
<nav th:replace="fragments/navigation.html :: nav-all-links "></nav>
<br>
<div class="container-fluid" th:align="center">
    <h2 th:fragment="h2-banner-2" th:align="center" class="header-panel">
        <h1 th:align="center" style="font-size: 115%;">Made Possible By: <img th:src="@{/img/deez_icon.png}" src="/img/deez_icon.png"
                                                                              class="img-fluid"
                                                                              style="max-width: 7.5%"
                                                                              alt="Deezer Logo"/>'s
            Open-Access API</h1>
        <p th:align="center"><strong>
            Use the links below to explore other content on the artist<!-- or find new music to listen to by clicking on Similar
        Artists --></strong><br></p>
    </h2>
    <hr>
    <div th:replace="fragments/navigation :: links-bar-active-all"></div>
    <h3 class="text-black-50 bg-secondary"><strong>Album Details:</strong></h3>
    <table th:replace="fragments/tables :: detail-album-table">
    </table>
</div>

<footer th:replace="fragments/navigation :: footer"></footer>
<hr>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>