<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"/>
    <link rel="stylesheet" href="../static/css/main.css"/>

    <title th:text="${title}"></title>
</head>
<body>
<header th:insert="frags.html :: header"></header>
<div class="container" th:align="center">
    <div th:align="center">
        <h2><strong>Albums:</strong></h2>
        <table class="table-bordered table-striped">
            <thead>
            <tr>
                <th>Album Name</th>
                <th>Album Cover</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Number of Fans</th>
                <th>Explicit Lyrics?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album:${albums}">
                <td th:text="${album.id}"/>
                <td th:text="${album.title}"/>
                <td th:text="${artist.getFans()}" alt="nb_fans"></td>
                <td><img th:src="@{${artist.cover}}" alt="img-pic" src=""/></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>