<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/style/main.css"/>

    <title th:text="${title}"></title>
</head>
<body>
<nav th:replace="fragments/navigation.html :: nav-all-links "></nav>
<br>
<div class="container-fluid" th:align="center">
    <h2 th:replace="fragments/navigation :: h2-banner-2"></h2>
    <hr>
    <div th:replace="fragments/navigation :: links-bar-active-all"></div>
    <h3 class="text-black-50 bg-secondary"><strong>Album Details:</strong></h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="text-align: center" th:text="${currentAlbum.title}">..</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:align="center"><img th:src="@{${currentAlbum.cover_xl}}" th:align="center" src=""
                     alt="img-pic" class="img-fluid"></td>
        </tr>

        </tbody>
    </table>

    <!-- Explore Album Table -->
    <table class="table table-bordered table-responsive" style="max-width: 100%">
        <thead class="thead-light">
        <tr>
            <th scope="col">Original Release Date</th>
            <th scope="col">Record Type</th>
            <th scope="col">Record Label</th>
            <th scope="col">Explicit Lyrics?</th>
            <th scope="col">Duration (Seconds)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${currentAlbum.release_date}">..</td>
            <td th:text="${currentAlbum.record_type}">..</td>
            <td th:text="${currentAlbum.label}">.</td>
            <td th:text="${currentAlbum.explicit_lyrics}">..</td>
            <td th:text="${currentAlbum.duration}">..</td>
        </tr>

        </tbody>
    </table>
    <!-- Explore Album Table -->
    <table class="table table-bordered table-responsive" style="max-width: 100%">
        <thead class="thead-light">
        <tr>
            <th class="card-header" th:text="Tracks">..</th>
        </tr>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Duration</th>
            <th scope="col">Explicit Lyrics?</th>
            <th scope="col">Audio Clip</th>
        </tr>
        </thead>
        </thead>

        <tbody>
        <tr th:block th:each="track: ${currentAlbum.tracks.getData()}">
            <td th:text="${track.title}">..</td>
            <td th:text="${track.duration}">..</td>
            <td th:text="${track.explicit_lyrics}">..</td>
            <td>
                <figure>
                    <figcaption>Listen to the T-Rex:</figcaption>
                    <audio controls th:src="@{${track.preview}}" src="">..</audio>
                </figure>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<footer th:replace="fragments/navigation :: footer"></footer>
<hr>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>