<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="style/main.css"/>
    <title>Exception!</title>

</head>
<body>
<div th:align="center" class="container">
    <h1 class="text-secondary">Rats! Something went wrong.....</h1><hr>

    <table class="align-content-md-center align-self-auto">
        <thead class="thead-light">
        <tr>
            <td class="text-primary text-capitalize">Try this instead</td>
        </tr>

        </thead>
        <tr>
            <td>
                <p class="text-primary text-capitalize"><strong>Step 1) Search the Band or Recording Artist</strong></p><br>
                <p class="text-primary text-capitalize"><strong>Step 2) Click on the Albums link to see there Discography</strong></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>