<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <title>Exception handling</title>

</head>
<body>
<h1>OOOppppss, something went wrong.....</h1>

<table class="align-content-md-center align-self-auto">
    <tr>
        <td>Try this instead</td>
        <td>
            <p><strong>Step 1) Search the Band or Recording Artist</strong></p><br>
            <p><strong>Step 2) Click on the Albums link to see there Discography</strong></p>
        </td>
    </tr>
</table>
</body>
</html>