<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head></head>
<div th:fragment="headFiles">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/css/main.css" rel="stylesheet"/>
        <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <title th:text="${title}"></title>
    </div>
<body>
<br>
<header th:fragment="header">
    <div class="navbar-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div th:align="center" class="container">
        <div class="hero-unit">
            <h1>What is stuck in you head today?</h1>
            <p>
               Welcome to StuckInYouHead!
               Search for your favorite Artists!
            </p>
            <p>
                <a href="/" th:href="@{/}" class="btn btn-large btn-success">Home</a>
            </p>
        </div>
    </div>
</header>

</body>
</html>
