<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="frags.html :: headFiles">
</head>
<body>
<header th:replace="frags.html :: header"></header>
<br>
<form class="form-control" action="#" th:action="@{/artistForm}" th:object="${search}" method="post">
    <label for="name">Enter The Artist's Name Here: </label>
    <input type="text" th:field="*{nameOfArtist}" name="name" id="name" required>
    <div class="submit-button">
        <input type="submit" value="SUBMIT">
    </div>
</form>
<br>
<p>
<h2>Artist:</h2>
<p>
<table class="table-responsive-xl">
    <thead>
    <tr>
        <th colspan="1">Id</th>
        <th colspan="1">Name</th>
        <th colspan="1">Number of Albums</th>
        <th colspan="1">Deezer Fans</th>
        <th colspan="1">Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="1"></td>
        <td rowspan="1"></td>
        <td rowspan="1"></td>
        <td rowspan="1"></td>
        <td rowspan="1"></td>
    </tr>

    </tbody>
</table>
</body>
</html>