<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="frags.html :: headFiles">
</head>
<body>
<header th:insert="frags.html::header"></header>
<br>
<form class="form-control" action="#" th:action="@{/artistForm}" th:object="${search}" method="post">
    <label for="name">Enter The Artist's Name Here: </label>
    <input type="text" th:field="*{name}" name="name" id="name" required>
    <div class="submit-button">
        <input type="submit" value="SUBMIT">
    </div>
</form>
<br>
<p>
<h2>Artist:</h2>
<p>
<table class="table-responsive-xl">
    <tbody>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
    </tr>
    <tr>
        <th scope="row"></th>
        <th scope="row"></th>
    </tr>

    </tbody>
</table>
</body>
</html>