<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <title>Error</title>

</head>
<body>
<div th:align="center" class="container">
    <h1>OOOppppss, something went wrong.....</h1><hr>

    <table class="align-content-md-center align-self-auto">
        <thead>
        <tr>
            <td>Deezer's API couldn't find any Musician or Recording Artist in their database
            that matches your search criteria. </td>
        </tr>

        </thead>
        <tr>
            <td>
                <p><strong>Step 1) Please double check you are entering the Artist name correctly.</strong></p><br>
                <p><strong>Step 2) Try searching another Artist. Deezer has an enormous quantity of info but can occasionally<br>
                    be unaware of an obscure or local recording artist.</strong></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>